[submodule "content/projects/engines/antigravity_agent"]
	path = content/projects/engines/antigravity_agent
	url = https://MikeyMike99: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@github.com/MikeyMike99/DevCore.git
